/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  opacity: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
  opacity: 1;
}